@font-face {
  font-family: "SUIT";
  src: url("../assets/fonts/suit/SUIT-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("../assets/fonts/suit/SUIT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("../assets/fonts/suit/SUIT-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUIT";
  src: url("../assets/fonts/suit/SUIT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
